* { 
    padding: 0px;
    margin: 0px;
    font-size: 0.6em;  
    font-family: Verdana, sans-serif;
    list-style-type:none;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
    
    
}


#pruebaprueba{
	background-color: red;
}