<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"></link>
    <title>Poxmania</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href='css/custom.css'></link>
</head>

<body>

    <div id="cabecera">
		<a href="/" style="text-decoration:none">
        <div id="logo"></div>
        </a>

        <div id="formulario">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <span class="glyphicon glyphicon-search" aria-hidden="true" id="iconolupa"></span>
                    <input type="text" class="form-control" placeholder="¿Qué deseas buscar?" id="campotexto"></input>
                </div>
                <button type="submit" class="btn btn-default" id="botonbuscar">Buscar</button>
            </form>

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control camponumero" placeholder="Desde"></input>
                    <input type="text" class="form-control camponumero" placeholder="Hasta"></input>
                </div>
                <button type="submit" class="btn btn-default" id="botonbuscar2">Buscar</button>
            </form>
        </div>
        <div id="botonesusuario">
            <a class="btn  botonuser" href="acceso" role="button">
                <div class="textoboton"><span class="glyphicon glyphicon-user iconoboton"></span>Mi cuenta</div>
            </a>
            <a class="btn  botonuser" href="#" role="button">
                <div class="textoboton"><span class="glyphicon glyphicon-shopping-cart iconoboton"></span>Cesta</div>
            </a>
        </div>

        <nav id="menuprincipal" class="navbar navbar-default">
            <div class="container-fluid" style="height:44px">


                <div class="btn-group">
                    <a href="/" style="text-decoration:none">
                    <button  type="button" class="btn btn-default dropdown-toggle botonbarra" aria-expanded="false">
                        <span class="glyphicon glyphicon-home iconoboton" id="casita"></span>
                    </button>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="/categorias?cat=Electrodomesticos" style="text-decoration:none">
                    <button type="button" class="btn btn-default dropdown-toggle botonbarra" aria-expanded="false">
                        Pequeños electrodomésticos
                    </button>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="/categorias?cat=Televisiones" style="text-decoration:none">
                    <button type="button" class="btn btn-default dropdown-toggle botonbarra" aria-expanded="false">
                        Televisiones
                    </button>
                    </a>
                   
                </div>
                <div class="btn-group">
                	<a href="/categorias?cat=Informatica" style="text-decoration:none">
                    <button type="button" class="btn btn-default dropdown-toggle botonbarra" aria-expanded="false">
                        Informática
                    </button>
                    </a>
                </div>
                <div class="btn-group">
                	<a href="/categorias?cat=Videoconsolas" style="text-decoration:none">
                    <button type="button" class="btn btn-default dropdown-toggle botonbarra" aria-expanded="false">
                        Videoconsolas
                    </button>
                    </a>
                </div>
            </div>
        </nav>

        <!--       <div align="center" id="tablaProductos">
        	<tr th:each="producto it : ${productos}">
    			<a th:href="@{'/poneranuncio?var='+${it.count}}"><span th:text="${producto.nombre}">Nombre </span><b>/</b><span th:text="${producto.categoria}">Categoria </span><b>/</b><span th:text="${producto.imagen}">Imagen </span><b>/</b><span th:text="${producto.descripcion}">Descripcion </span><b>/</b><span th:text="${producto.cantidad}">Cantidad </span><b>/</b><span th:text="${producto.precio}">Precio </span></a><br></br>		
			</tr>
        </div>-->
    </div>

    <div id="panelacceso">
    	<form class="navbar-form" id="formulariologin2" role="search" action="validacion" method='post'>
                <div class="form-group" id="contenedorentradalogin">
                    <input type="text" class="form-control entradalogin" name='user' placeholder="Nombre de usuario"></input>
                    <input type="password" class="form-control entradalogin" name='pass' placeholder="Contraseña"></input>
                    <button type="submit" id="botonentrar">Entrar</button>
                </div>
                
        </form>
    </div>





</body>

</html>