<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"></link>
<title>Poxmania</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<link type="text/css" rel="stylesheet" href='css/custom.css'></link>
</head>
<body>

<div id="cabecera">

<div id="logo"></div> 

<div id="formulario">
    <form class="navbar-form navbar-left" role="search">                   
          <div class="form-group">   
                <span class="glyphicon glyphicon-search" aria-hidden="true" id="iconolupa"></span>
                <input type="text" class="form-control" placeholder="Que deseas buscar?" id="campotexto"></input>                           
          </div>
          <button type="submit" class="btn btn-default" id="botonbuscar">Buscar</button>
    </form>                
</div> 
<div id="botonesusuario">
    <a class="btn  botonuser" href="#" role="button"><div class="textoboton"><span class="glyphicon glyphicon-user iconoboton" ></span> Mi Cuenta</div></a>
    <a class="btn  botonuser" href="#" role="button"><div class="textoboton"><span class="glyphicon glyphicon-piggy-bank iconoboton" ></span>Cesta</div></a>
</div>

<nav id="menuprincipal" class="navbar navbar-default">
<div class="container-fluid">
    
    <div class="btn-group">
        <!--data-toggle="dropdown" -->
      <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">
        Metaheuristic Overview 
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>    

    
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"  aria-expanded="false">
        Black-Box Solvers 
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"  aria-expanded="false">
        Multi-objective Problems 
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    
    
    
    
</div>
</nav>

</div>  


</body>
</html>