<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"></link>
    <title>Poxmania</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href='css/custom.css'></link>
</head>

<body>

    <div id="cabecera">

        <div id="logo"></div>

        <div id="formulario">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <span class="glyphicon glyphicon-search" aria-hidden="true" id="iconolupa"></span>
                    <input type="text" class="form-control" placeholder="¿Qué deseas buscar?" id="campotexto"></input>
                </div>
                <button type="submit" class="btn btn-default" id="botonbuscar">Buscar</button>
            </form>
        </div>
        <div id="botonesusuario">
            <a class="btn  botonuser" href="#" role="button">
                <div class="textoboton"><span class="glyphicon glyphicon-user iconoboton"></span> Mi Cuenta</div>
            </a>
            <a class="btn  botonuser" href="#" role="button">
                <div class="textoboton"><span class="glyphicon glyphicon-shopping-cart iconoboton"></span>Cesta</div>
            </a>
        </div>

        <nav id="menuprincipal" class="navbar navbar-default">
            <div class="container-fluid">


                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle botonbarra" aria-expanded="false">
                        <span class="glyphicon glyphicon-home iconoboton" id="casita"></span>
                    </button>
                </div><div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle botonbarra" aria-expanded="false">
                        Pequeños electrodomésticos
                    </button>
                </div><div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle botonbarra" aria-expanded="false">
                        Televisiones
                    </button>
                </div><div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle botonbarra" aria-expanded="false">
                        Informática
                    </button>
                </div><div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle botonbarra" aria-expanded="false">
                        Videoconsolas
                    </button>
                </div>
            </div>
        </nav>
        
 <!--       <div align="center" id="tablaProductos">
        	<tr th:each="producto it : ${productos}">
    			<a th:href="@{'/poneranuncio?var='+${it.count}}"><span th:text="${producto.nombre}">Nombre </span><b>/</b><span th:text="${producto.categoria}">Categoria </span><b>/</b><span th:text="${producto.imagen}">Imagen </span><b>/</b><span th:text="${producto.descripcion}">Descripcion </span><b>/</b><span th:text="${producto.cantidad}">Cantidad </span><b>/</b><span th:text="${producto.precio}">Precio </span></a><br></br>		
			</tr>
        </div>-->
        
        <div align="center" id="tablaProductos">
	        <div class="espacioproducto" th:each="producto : ${productos}">
	        
	        	<div class="imagenproducto container" th:text="${producto.imagen}">url de la imagen</div>
	        	<div class="textoproducto">
		        	<div class="nombreproducto container" th:text="${producto.nombre}">nombrepruebaquenodebeverse</div>
		        	<div class="descripcionproducto container" th:text="${producto.descripcion}">descripcionwachi</div>
		        	<div class="precioproducto container" th:text="${producto.precio}+ €">preciocaro</div>
	        	</div>
	        </div>
        </div>
        

    </div>


</body>

</html>