<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"></link>
    <title>Poxmania</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href='css/custom.css'></link>
</head>

<body>

    <div id="cabecera">
		<a href="/acceso" style="text-decoration:none">
        <div id="logoadmin"></div>
        </a>

       
        <div id="botonesusuario">
            <a class="btn  botonuser" href="desconectar" role="button">
                <div class="textoboton"><span class="glyphicon glyphicon-user iconoboton"></span>Salir</div>
            </a>            
        </div>
    </div>
       
      
    
    <div id="contenedoralta">
	   
		    <form id="formularioalta" method="post" action="comprobaralta" enctype="multipart/form-data">
			    <div class="form-group">
			        <div class="row">
			            <div class="col-xs-8">
			                <label class="control-label">Nombre artículo</label>
			                <input type="text" class="form-control" name="nomp" />
			            </div>
			
			            <div class="col-xs-4 selectContainer">
			                <label class="control-label">Categoría</label>
			                <select class="form-control" name="catp">	                    
				                <option value="Electrodomesticos">Electrodomésticos</option>
						        <option value="Informatica">Informática</option>
						        <option value="Televisiones">Televisiones</option>
						        <option value="Videoconsolas">Videoconsolas</option>
			                </select>
			            </div>
			        </div>
			    </div>
			
			    <div class="form-group">
			        <div class="row">
			            <div class="col-xs-4">
			                <label class="control-label">Cantidad</label>
			                <input type="text" class="form-control" name="canp" />
			            </div>
			
			            <div class="col-xs-4">
			                <label class="control-label">Precio</label>
			                <input type="text" class="form-control" name="prep" />
			            </div>	
			            
			            <div class="col-xs-4">
			            	<label class="control-label">Imagen</label>
		                <input type="file" class="form-control" name="imagen" />
		            </div>	
			        </div>
			    </div>	    
		
			    
			    
			    <div class="form-group">
			        <label class="control-label">Descripción</label>
			        <textarea class="form-control" name="desp" rows="8"></textarea>
			    </div>
			
			    
			
			    <button type="submit" class="btn btn-default">Dar de alta</button>
		    </form>
    
    
    </div>
    
    
    

	






</body>

</html>