<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"></link>
    <title>Poxmania</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href='css/custom.css'></link>
</head>

<body>

	<div id="cabecera">
	<div id="parte1">
		<a href="/" style="text-decoration: none">
			<div id="logo"></div>
		</a>
		<div id="formulario">
			<form class="navbar-form navbar-left" role="search"
				action="buscarnombre">
				<div class="form-group">
					<span class="glyphicon glyphicon-search" aria-hidden="true"
						id="iconolupa"></span> <input type="text" name="textoabuscar"
						class="form-control" placeholder="¿Qué deseas buscar?"
						id="campotexto"></input>
				</div>
				<button type="submit" class="btn btn-default" id="botonbuscar">Buscar</button>
			</form>
	
			<form class="navbar-form navbar-left" role="search"
				action="buscarprecio">
				<div class="form-group">
					<input type="text" class="form-control camponumero" name="min"
						placeholder="Desde"></input> <input type="text"
						class="form-control camponumero" name="max" placeholder="Hasta"></input>
				</div>
				<button type="submit" class="btn btn-default" id="botonbuscar2">Buscar</button>
			</form>
		</div>
		<div id="botonesusuario">
			<a class="btn  botonuser" href="acceso" role="button">
				<div class="textoboton">
					<span class="glyphicon glyphicon-user iconoboton"></span>Mi cuenta
				</div>
			</a> <a class="btn  botonuser" href="#" role="button">
				<div class="textoboton">
					<span class="glyphicon glyphicon-shopping-cart iconoboton"></span>Cesta
				</div>
			</a>
		</div>
	</div> <!--parte1-->
	<div id="parte2">
		<nav id="menuprincipal" class="navbar navbar-default">
			<div class="container-fluid">
	
	
				<div class="btn-group">
					<a href="/" style="text-decoration: none">
						<button type="button"
							class="btn btn-default dropdown-toggle botonbarra"
							aria-expanded="false">
							<span class="glyphicon glyphicon-home iconoboton" id="casita"></span>
						</button>
					</a>
				</div>
				<div class="btn-group">
					<a href="/categorias?cat=Electrodomesticos"
						style="text-decoration: none">
						<button type="button"
							class="btn btn-default dropdown-toggle botonbarra"
							aria-expanded="false">Pequeños electrodomésticos</button>
					</a>
				</div>
				<div class="btn-group">
					<a href="/categorias?cat=Televisiones"
						style="text-decoration: none">
						<button type="button"
							class="btn btn-default dropdown-toggle botonbarra"
							aria-expanded="false">Televisiones</button>
					</a>
				</div>
				<div class="btn-group">
					<a href="/categorias?cat=Informatica" style="text-decoration: none">
						<button type="button"
							class="btn btn-default dropdown-toggle botonbarra"
							aria-expanded="false">Informática</button>
					</a>
				</div>
				<div class="btn-group">
					<a href="/categorias?cat=Videoconsolas"
						style="text-decoration: none">
						<button type="button"
							class="btn btn-default dropdown-toggle botonbarra"
							aria-expanded="false">Videoconsolas</button>
					</a>
				</div>
			</div>
		</nav>
	</div> <!--parte2-->		
	</div>
    
    
    <div id="contenedor_producto">
    	<div id="nombre_producto" th:text="${producto.nombre}">Nombre_del_producto</div>
    	<img id="imagen_producto" width="298" height="298" th:src="@{'image/'+${producto.imagen}}"></img>
    	<div id="contenedor_datos">
    		<div id="precio_producto" th:text="${producto.precio}+ €">preciocaro</div>
	    	<div id="estado_producto" th:switch="${producto.cantidad}">
		        <p th:case="0" style="color:red" th:text="'Producto sin stock'">Producto Agotado :(</p>
		        <p th:case="*" style="color:green" th:text="${producto.cantidad}+ ' unidades disponibles'">Si esta en Stock</p>
		    </div>
		    <div id="descripcion_producto" th:text="${producto.descripcion}">Descripcion_del_producto</div>	    	
	    	
	    	<a class="btn  botonuser2" th:href="@{'/metercesta?elemento='+${producto.id}}" role="button">
	    	<div class="textoboton2"><span class="glyphicon glyphicon-shopping-cart iconoboton"></span>Añadir a la cesta</div>
	        </a>
	    </div>
    </div>

</body>

</html>