* {
    padding: 0px;
    margin: 0px;
    font-size: 0.6em;
    font-family: Verdana, sans-serif;
    list-style-type: none;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
/***************** C A B E C E R A *********************************/

#cabecera {
    background-color: #fff;
    height: 85px;
    -webkit-box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
    box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
}

#logo {
    margin-top: 10px;
    margin-left: 5px;
    width: 290px;
    height: 65px;
    background-image: url(../img/poxmanialogo.png);
    display: inline-block;
    position: relative;
}

#formulario {
    margin-top: 10px;
    border-radius: 4px;
    
    background-color: rgba(212, 212, 212, 0.69);
    display: inline-block;
    margin-bottom: 6px;
    padding: 0px;
}

#iconolupa {
    position: relative;
    font-size: 10em;
    margin-right: 8px;
    top: 8px;
    color: white;
}

.iconoboton {
    position: inherit;
    font-size: 1.3em;
    margin-right: 8px;
    margin-top: 0px;
}

#botonbuscar {
    
    background: rgba(207, 83, 157, 1);
    background: -moz-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207, 83, 157, 1)), color-stop(100%, rgba(192, 51, 138, 1)));
    background: -webkit-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -o-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -ms-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: linear-gradient(to bottom, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cf539d', endColorstr='#c0338a', GradientType=0);
    color: white;
    max-width: 120px;
    width: 120px;
    height: 40px;
}

#botonbuscar:hover {
    background: rgba(192, 51, 138, 1);
    background: -moz-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(192, 51, 138, 1)), color-stop(100%, rgba(207, 83, 157, 1)));
    background: -webkit-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -o-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -ms-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: linear-gradient(to bottom, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c0338a', endColorstr='#cf539d', GradientType=0);
}

#botonbuscar:active {
    background: rgba(158, 40, 115, 1);
    background: -moz-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(158, 40, 115, 1)), color-stop(100%, rgba(171, 70, 131, 1)));
    background: -webkit-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -o-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -ms-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: linear-gradient(to bottom, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9e2873', endColorstr='#ab4683', GradientType=0);
}

.camponumero {
    width: 60px !important;
    height: 40px;
    font-size: 12px;
}

.camponumero:hover {
    border-color: #a3c0d9;
}

.camponumero:focus {
    border-color: #cf539d;
}

#botonbuscar2 {
    background: rgba(207, 83, 157, 1);
    background: -moz-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207, 83, 157, 1)), color-stop(100%, rgba(192, 51, 138, 1)));
    background: -webkit-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -o-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -ms-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: linear-gradient(to bottom, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cf539d', endColorstr='#c0338a', GradientType=0);
    color: white;
    max-width: 60px;
    width: 60px;
    height: 40px;
}

#botonbuscar2:hover {
    background: rgba(192, 51, 138, 1);
    background: -moz-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(192, 51, 138, 1)), color-stop(100%, rgba(207, 83, 157, 1)));
    background: -webkit-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -o-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -ms-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: linear-gradient(to bottom, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c0338a', endColorstr='#cf539d', GradientType=0);
}

#botonbuscar2:active {
    background: rgba(158, 40, 115, 1);
    background: -moz-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(158, 40, 115, 1)), color-stop(100%, rgba(171, 70, 131, 1)));
    background: -webkit-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -o-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -ms-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: linear-gradient(to bottom, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9e2873', endColorstr='#ab4683', GradientType=0);
}

#campotexto {
    width: 300px;
    height: 40px;
}

#campotexto:hover {
    border-color: #a3c0d9;
}

#campotexto:focus {
    border-color: #cf539d;
}

#botonesusuario {
    margin-right: 15px;
    float: right !important;
    z-index: 2;
    position: relative;
    display: inline-block;
}

.botonuser {
    background-color: #eaeaea;
    margin-right: 5px;
    margin-top: 10px;
    width: 140px;
    height: 65px;
    border: 1px solid #c9c9c9;
}

.botonuser:hover {
    background: rgba(206, 206, 206, 1);
    background: -moz-linear-gradient(top, rgba(206, 206, 206, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206, 206, 206, 1)), color-stop(100%, rgba(236, 236, 236, 1)));
    background: -webkit-linear-gradient(top, rgba(206, 206, 206, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: -o-linear-gradient(top, rgba(206, 206, 206, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: -ms-linear-gradient(top, rgba(206, 206, 206, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: linear-gradient(to bottom, rgba(206, 206, 206, 1) 0%, rgba(236, 236, 236, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ececec', GradientType=0);
}

.textoboton {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 10px;
    color: #777777;
}
/************* BARRA DE CATEGORIAS **************/

#menuprincipal {
    background-color: white;
    border: 0px;
    padding-bottom: 15px;
    -webkit-box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
    box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
}

.container-fluid {
    width: 1000px;
    padding: 0;
    padding-top: 10px;
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid #C6C6C6;
    position: relative;
}

.botonbarra {
    background-color: #EBEBEB;
    border: 1px solid #C6C6C6;
    border-bottom: 0px;
    border-radius: 0;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    position: relative;
}

#casita {
    padding: 1px;
    margin: auto;
}
/************ TABLAS DE PRODUCTOS ***************/

#tablaProductos {
    margin-top: 65px;
}

table {
    font-size: 12em;
}

.espacioproducto {
    margin: 10px;
    padding: 0px;
    border: 1px solid #b9b9b9;
    display: inline-block;
    width: 300px;
    height: 500px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.espacioproducto:hover {
    border-color: #bf3288;
    border-bottom: 4px solid #bf3288;
}

.imagenproducto {
    margin: 0;
    padding: 0;
    position: relative;
    width: 298px;
    height: 298px;
    background-color: #b100ff;
    display: block;
    background-image: url(../img/vistapreviaprueba.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.textoproducto {
    /*para que no me descoloque divs debo meter el texto dentro de este div fijo*/
    
    margin: 0;
    padding: 0;
    position: relative;
    width: 300px;
    height: 200px;
    display: block;
}

.nombreproducto {
    width: 290px;
    margin: 5;
    padding: 0;
    position: relative;
    text-align: left;
    color: #303030;
    font-size: 20px;
}

.descripcionproducto {
    width: 290px;
    height: 100px;
    margin: 5;
    padding: 0;
    position: relative;
    color: #aaa;
    font-size: 18px;
    text-align: justify;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
}

.precioproducto {
    width: 290px;
    margin: 5;
    padding: 0;
    position: relative;
    text-align: right;
    color: #eb0b2b;
    font-size: 30px;
    display: inline-block;
    font-weight: bold;
  
}

/******* ACCESO *******/

#formulariologin2{
    margin:0;
    padding: 0;
}

#panelacceso{
    margin: auto;
	margin-top:65px;
	width:350px;
	height:600px;
    background-image: url(../img/accesoimg.jpg);
	background-repeat: no-repeat;
    background-size: cover;	
}

#contenedorentradalogin{
    width:350px;
    height: 120px;
    margin-top: 460px;    
    
}

.entradalogin{  
    margin-left: 10;
    display: block;
    height: 40px;
    width: 330px !important;
    margin-bottom: 4px;
    border-radius: 0px;
    border-color: #5a005d;
}

#botonentrar{
    margin: auto;
   display: block;
    height: 40px;
    width: 330px !important;
    margin-bottom: 4px;
    border-radius: 0px;
    
    border: 1px solid #5a005d;
    color: white;    
    font-size: 14px;
    text-shadow: 0px 3px 4px rgba(150, 150, 150, 1);
    
    background: rgba(254,182,69,1);
background: -moz-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(240,202,14,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(240,202,14,1)));
background: -webkit-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(240,202,14,1) 100%);
background: -o-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(240,202,14,1) 100%);
background: -ms-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(240,202,14,1) 100%);
background: linear-gradient(to bottom, rgba(254,182,69,1) 0%, rgba(240,202,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#f0ca0e', GradientType=0 );
}

#botonentrar::visited{
    background: rgb(0, 255, 59);
}