* {
    padding: 0px;
    margin: 0px;
    font-size: 0.6em;
    font-family: Verdana, sans-serif;
    list-style-type: none;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
/***************** C A B E C E R A *********************************/

#cabecera {
    background-color: #fff;
    
    -webkit-box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
    box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
}

#logo {
	float:left;
    margin-top: 10px;
    margin-left: 5px;
    width: 290px;
    height: 65px;
    background-image: url(../img/poxmanialogo.png);
    display: inline-block;
    position: relative;
}

#formulario {
	float:left;
    margin-top: 10px;
    border-radius: 4px;
    margin-right:20px;
    background-color: rgba(212, 212, 212, 0.69);
    display: inline-block;
    margin-bottom: 6px;
    padding: 0px;
}

#iconolupa {
    position: relative;
    font-size: 10em;
    margin-right: 8px;
    top: 8px;
    color: white;
}

.iconoboton {
    position: inherit;
    font-size: 1.3em;
    margin-right: 8px;
    margin-top: 0px;
}

#botonbuscar {
    
    background: rgba(207, 83, 157, 1);
    background: -moz-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207, 83, 157, 1)), color-stop(100%, rgba(192, 51, 138, 1)));
    background: -webkit-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -o-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -ms-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: linear-gradient(to bottom, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cf539d', endColorstr='#c0338a', GradientType=0);
    color: white;
    max-width: 120px;
    width: 120px;
    height: 40px;
}

#botonbuscar:hover {
    background: rgba(192, 51, 138, 1);
    background: -moz-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(192, 51, 138, 1)), color-stop(100%, rgba(207, 83, 157, 1)));
    background: -webkit-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -o-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -ms-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: linear-gradient(to bottom, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c0338a', endColorstr='#cf539d', GradientType=0);
}

#botonbuscar:active {
    background: rgba(158, 40, 115, 1);
    background: -moz-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(158, 40, 115, 1)), color-stop(100%, rgba(171, 70, 131, 1)));
    background: -webkit-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -o-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -ms-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: linear-gradient(to bottom, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9e2873', endColorstr='#ab4683', GradientType=0);
}

.camponumero {
    width: 60px !important;
    height: 40px;
    font-size: 12px;
}

.camponumero:hover {
    border-color: #a3c0d9;
}

.camponumero:focus {
    border-color: #cf539d;
}

#botonbuscar2 {
    background: rgba(207, 83, 157, 1);
    background: -moz-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207, 83, 157, 1)), color-stop(100%, rgba(192, 51, 138, 1)));
    background: -webkit-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -o-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: -ms-linear-gradient(top, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    background: linear-gradient(to bottom, rgba(207, 83, 157, 1) 0%, rgba(192, 51, 138, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cf539d', endColorstr='#c0338a', GradientType=0);
    color: white;
    max-width: 60px;
    width: 60px;
    height: 40px;
}

#botonbuscar2:hover {
    background: rgba(192, 51, 138, 1);
    background: -moz-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(192, 51, 138, 1)), color-stop(100%, rgba(207, 83, 157, 1)));
    background: -webkit-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -o-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: -ms-linear-gradient(top, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    background: linear-gradient(to bottom, rgba(192, 51, 138, 1) 0%, rgba(207, 83, 157, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c0338a', endColorstr='#cf539d', GradientType=0);
}

#botonbuscar2:active {
    background: rgba(158, 40, 115, 1);
    background: -moz-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(158, 40, 115, 1)), color-stop(100%, rgba(171, 70, 131, 1)));
    background: -webkit-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -o-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: -ms-linear-gradient(top, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    background: linear-gradient(to bottom, rgba(158, 40, 115, 1) 0%, rgba(171, 70, 131, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9e2873', endColorstr='#ab4683', GradientType=0);
}

#campotexto {
    width: 300px;
    height: 40px;
}

#campotexto:hover {
    border-color: #a3c0d9;
}

#campotexto:focus {
    border-color: #cf539d;
}

#botonesusuario {
    margin-right: 15px;
    float:right;
    
    position: relative;
    display: inline-block;
}

.botonuser {
    background-color: #eaeaea;
    margin-right: 5px;
    margin-top: 10px;
    width: 140px;
    height: 65px;
    border: 1px solid #c9c9c9;
}

.botonuser:hover {
    background: rgba(206, 206, 206, 1);
    background: -moz-linear-gradient(top, rgba(206, 206, 206, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206, 206, 206, 1)), color-stop(100%, rgba(236, 236, 236, 1)));
    background: -webkit-linear-gradient(top, rgba(206, 206, 206, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: -o-linear-gradient(top, rgba(206, 206, 206, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: -ms-linear-gradient(top, rgba(206, 206, 206, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: linear-gradient(to bottom, rgba(206, 206, 206, 1) 0%, rgba(236, 236, 236, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ececec', GradientType=0);
}

.textoboton {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 10px;
    color: #777777;
}
/************* BARRA DE CATEGORIAS **************/

#menuprincipal {
    background-color: white;
    border: 0px;
    padding-bottom: 15px;

}

.container-fluid {
    width: 1000px;
    padding: 0;
    padding-top: 10px;
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid #C6C6C6;
    position: relative;
}

.botonbarra {
    background-color: #EBEBEB;
    border: 1px solid #C6C6C6;
    border-bottom: 0px;
    border-radius: 0;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    position: relative;
}

#casita {
    padding: 1px;
    margin: auto;
}
/************ TABLAS DE PRODUCTOS ***************/

#tablaProductos {
    margin-top: 45px;
}

table {
    font-size: 12em;
}

.espacioproducto {
    margin: 10px;
    padding: 0px;
    border: 1px solid #b9b9b9;
    display: inline-block;
    width: 300px;
    height: 550px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.espacioproducto:hover {
    border-color: #bf3288;
    border-bottom: 4px solid #bf3288;
}

.imagenproducto {
    margin: 0;
    padding: 0;
    position: relative;
    width: 298px;
    height: 298px;
    background-color: #b100ff;
    display: block;
    
}

.textoproducto {
    /*para que no me descoloque divs debo meter el texto dentro de este div fijo*/
    
    margin: 0;
    padding: 0;
    position: relative;
    width: 300px;
    height: 200px;
    display: block;
}

.nombreproducto {
    width: 290px;
    margin: 5;
    padding: 0;
    position: relative;
    text-align: left;
    color: #303030;
    font-size: 20px;
}

.descripcionproducto {
    width: 290px;
    height: 100px;
    margin: 5;
    padding: 0;
    position: relative;
    color: #aaa;
    font-size: 18px;
    text-align: justify;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
}

.precioproducto {
    width: 290px;
    margin: 5;
    padding: 0;
    position: relative;
    text-align: left;
    color: #eb0b2b;
    font-size: 30px;
    display: inline-block;
    font-weight: bold;
}

/******* ACCESO *******/

#formulariologin2{
    margin:0;
    padding: 0;
}

#panelacceso{
    margin: auto;
	margin-top:65px;
	width:350px;
	height:500px;
    background-image: url(../img/accesoimg.jpg);
	background-repeat: no-repeat;
    background-size: cover;	
}

#contenedorentradalogin{
    width:350px;
    height: 120px;
    margin-top: 360px;    
    
}

.entradalogin{  
    margin-left: 10;
    display: block;
    height: 40px;
    width: 330px !important;
    margin-bottom: 4px;
    border-radius: 0px;
    border-color: #5a005d;
}

#botonentrar{
    margin: auto;
   display: block;
    height: 40px;
    width: 330px !important;
    margin-bottom: 4px;
    border-radius: 0px;
    
    border: 1px solid #5a005d;
    color: white;    
    font-size: 14px;
    text-shadow: 0px 3px 4px rgba(150, 150, 150, 1);
    
    background: rgba(254,182,69,1);
background: -moz-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(240,202,14,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(240,202,14,1)));
background: -webkit-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(240,202,14,1) 100%);
background: -o-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(240,202,14,1) 100%);
background: -ms-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(240,202,14,1) 100%);
background: linear-gradient(to bottom, rgba(254,182,69,1) 0%, rgba(240,202,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#f0ca0e', GradientType=0 );
}

#botonentrar::visited{
    background: rgb(0, 255, 59);
}

/********* PANTALLA DE ADMINISTRACION *********/

#logoadmin {
    margin-top: 10px;
    margin-left: 5px;
    width: 290px;
    height: 65px;
    background-image: url(../img/poxmanialogo2.png);
    display: inline-block;
    position: relative;
    float:left;
}

#contenedoradmin{
    margin-top: 20px;
}

.botonadmin{
    width:400px;
    height: 90px;
    margin: auto;  
    margin-top: 10px;
    
    border: 1px solid #914e8a;
    
    text-shadow: 0px -1px rgba(0, 0, 0, 0.8);
    
    background: rgba(245,152,208,1);
    background: -moz-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(207,83,157,1) 4%, rgba(192,51,138,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,152,208,1)), color-stop(4%, rgba(207,83,157,1)), color-stop(100%, rgba(192,51,138,1)));
    background: -webkit-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(207,83,157,1) 4%, rgba(192,51,138,1) 100%);
    background: -o-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(207,83,157,1) 4%, rgba(192,51,138,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(207,83,157,1) 4%, rgba(192,51,138,1) 100%);
    background: linear-gradient(to bottom, rgba(245,152,208,1) 0%, rgba(207,83,157,1) 4%, rgba(192,51,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f598d0', endColorstr='#c0338a', GradientType=0 );
}

.botonadmin:hover{
    background: rgba(245,152,208,1);
    background: -moz-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(163,67,125,1) 4%, rgba(125,34,92,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,152,208,1)), color-stop(4%, rgba(163,67,125,1)), color-stop(100%, rgba(125,34,92,1)));
    background: -webkit-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(163,67,125,1) 4%, rgba(125,34,92,1) 100%);
    background: -o-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(163,67,125,1) 4%, rgba(125,34,92,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(163,67,125,1) 4%, rgba(125,34,92,1) 100%);
    background: linear-gradient(to bottom, rgba(245,152,208,1) 0%, rgba(163,67,125,1) 4%, rgba(125,34,92,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f598d0', endColorstr='#7d225c', GradientType=0 );
    
    font-weight: bold;
}

.botonadminajustado{
    width:400px;
    height: 90px;    
    text-align: center;
}

.textobotonadmin{
    padding-top: 25px;
    font-size: 12em;
    color: white;
}

/****** GESTION DE PEDIDOS ADMIN **********/

#tablaadmin{
    
    margin: auto;
}

.filaproducto{
    background-color: white;
}
.filaproducto:hover{
    border: 1px solid #513562;
    background-color: #ebebeb;
   
}

.columnaid{
    background-color: #bf3288;
    color: white;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.8);
    padding: 3px;
    margin-right: 5px;
    border: 1px solid black;
}
.columnacat{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;    
}

.columnaedicion:hover{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,186,18,1) 5%, rgba(232,232,35,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(5%, rgba(232,186,18,1)), color-stop(100%, rgba(232,232,35,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,186,18,1) 5%, rgba(232,232,35,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,186,18,1) 5%, rgba(232,232,35,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,186,18,1) 5%, rgba(232,232,35,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(232,186,18,1) 5%, rgba(232,232,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e823', GradientType=0 );
}
.columnaedicion{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
    
    
    text-shadow: 0px -1px rgba(0, 0, 0, 0.8);
    
    background: rgba(245,152,208,1);
    background: -moz-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(207,83,157,1) 4%, rgba(192,51,138,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,152,208,1)), color-stop(4%, rgba(207,83,157,1)), color-stop(100%, rgba(192,51,138,1)));
    background: -webkit-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(207,83,157,1) 4%, rgba(192,51,138,1) 100%);
    background: -o-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(207,83,157,1) 4%, rgba(192,51,138,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,152,208,1) 0%, rgba(207,83,157,1) 4%, rgba(192,51,138,1) 100%);
    background: linear-gradient(to bottom, rgba(245,152,208,1) 0%, rgba(207,83,157,1) 4%, rgba(192,51,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f598d0', endColorstr='#c0338a', GradientType=0 );
}
.columnaedicion a{
    color: white !important;
}

/**** DAR DE ALTA UN ARTICULO ***********/

#contenedoralta{
    margin: auto;
    width: 700;
    margin-top: 20px;
    border: 1px solid black;
    font-size: 12em;
    padding: 10px;    
}


/****** VISUALIZAR UN PRODUCTO ********/

#contenedor_producto{   
    margin: auto;
    margin-top: 70px;   
    width:750px;
    border: 1px solid rgb(171, 171, 171);
}
#nombre_producto{
    color:#bf3288;
    font-size: 4em; 
    padding-left: 20px;
    padding-top: 20px;
}

#imagen_producto{
    display: inline-block;
    float:left;
    padding-left: 10px;
}

#contenedor_datos{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;    
}
#precio_producto{
    color:red;
    font-size: 12em;
}
#estado_producto{    
    font-size: 8em;   
}
#descripcion_producto{
    font-size: 3em;
    color:#848484;
    width: 390px;    
    height: 200px;
}

.botonuser2 {
    background: rgba(214,234,60,1);
    background: -moz-linear-gradient(top, rgba(214,234,60,1) 0%, rgba(206,226,21,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(214,234,60,1)), color-stop(100%, rgba(206,226,21,1)));
    background: -webkit-linear-gradient(top, rgba(214,234,60,1) 0%, rgba(206,226,21,1) 100%);
    background: -o-linear-gradient(top, rgba(214,234,60,1) 0%, rgba(206,226,21,1) 100%);
    background: -ms-linear-gradient(top, rgba(214,234,60,1) 0%, rgba(206,226,21,1) 100%);
    background: linear-gradient(to bottom, rgba(214,234,60,1) 0%, rgba(206,226,21,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6ea3c', endColorstr='#cee215', GradientType=0 );
    
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 240px;
    height: 45px;
    
}




.botonuser2:hover {
    background: rgba(206,226,21,1);
    background: -moz-linear-gradient(top, rgba(206,226,21,1) 0%, rgba(214,234,60,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206,226,21,1)), color-stop(100%, rgba(214,234,60,1)));
    background: -webkit-linear-gradient(top, rgba(206,226,21,1) 0%, rgba(214,234,60,1) 100%);
    background: -o-linear-gradient(top, rgba(206,226,21,1) 0%, rgba(214,234,60,1) 100%);
    background: -ms-linear-gradient(top, rgba(206,226,21,1) 0%, rgba(214,234,60,1) 100%);
    background: linear-gradient(to bottom, rgba(206,226,21,1) 0%, rgba(214,234,60,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee215', endColorstr='#d6ea3c', GradientType=0 );
}

.textoboton2 {
    font-family: Arial;
    font-style: normal;    
    font-size: 1.3em;    
    color: #2e2e2e;    
    text-shadow: 0px 1px 0px #FFF;
    
}

.textoboton2 span{
    color:#aa13d8;
    
}

/*********PRUEBA DAVID PARA BOTON DENTRO DE CADA PRODUCTO*********/

#boton4{
    color: #bf3288;
    background: #d8eb3f;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#d8eb3f),color-stop(1,#cbe213));
    background: -webkit-linear-gradient(top,#d8eb3f 0,#cbe213 100%);
    background: -moz-linear-gradient(top,#d8eb3f 0,#cbe213 100%);
    background: -o-linear-gradient(top,#d8eb3f 0,#cbe213 100%);
    background: -ms-linear-gradient(top,#d8eb3f 0,#cbe213 100%);
    background: linear-gradient(top,#d8eb3f 0,#cbe213 100%);
    background: -o-linear-gradient(top,#d8eb3f 0,#cbe213 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.6),0 1px 0 rgba(255,255,255,.8);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.6),0 1px 0 rgba(255,255,255,.8);
    border: 1px solid #cbe213;
    text-shadow: 0 1px 0 #fff;
    height: auto;
    width: 70px;
    height: 30px;
    float:right;
    margin-right:10px;
    font-size:18em;
}

#boton4:hover{
	background: #bf3288;
	color:#d8eb3f;
	text-shadow: none;
}
  
/***** ARREGLOS PARA HACERLOS RESPONSIVE ******/

#parte2{
	display:inline-block;
}

#cabeceraAdmin{
	background-color: #fff;
    
    -webkit-box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
    box-shadow: -1px 9px 27px -11px rgba(0, 0, 0, 0.22);
    height:85px;
    margin-bottom:50px;
}

/******* VISUALIZAR CESTA *******/
